<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="server=localhost;port=3306;user=root;password=;database=winetranet" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="isAdmin" value="Hidden"/>
	</appSettings>
</configuration>